body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(109, 13, 141);
  }

  #calculator {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #4cf813;
    background-color: rgb(254, 12, 218);
    border-radius: 5px;
  }

  label {
    display: block;
    padding: 5px;
    margin-bottom: 5px;
  }

  input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 3px solid #4cf813;
    border-radius: 5px;
  }

  button {
    background-color: #4cf813;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover{
    background-color: #13f8bf;
  }

  p {
    margin-top: 20px;
    font-weight: bold;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 60px; 
    }
  
    #calculator {
        max-width: 250px;
    }

    button {
        font-size: 12px;
    }
  }